@import url('https://fonts.googleapis.com/css?family=Muli:800');

nav {
  background-color:rgb(255,255,255);
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  background: #000;
}

body{
  background: #384D48;
  min-height: 100%;
  margin:0;
  overflow:hidden;
  font-family: sans-serif;
}

html{
  height:100%;
}

h1 {
  font-size: 11vw; /*200px;*/
  line-height: .9;
  align-content: center;
  margin: 0;
}

h2 {
  font-size: 5vw;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

p {
  font-family: 'Futura','Muli',sans-serif;
  font-size: 24px;
  margin-left: 80px;
}

.text-highlight{
  background-color: #384D48;
  height: 50px;
  color: #FFF;
}

.main-page-container{
  height: 100vh;
  margin-left: 15%;
  margin-right: 15%;
  background: #aee5b7;
  padding-left: 35px;
  padding-right: 35px;
}

.main-page-container > h2 {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.webHeader {
  display: flex;
  height: 50%;
}

.bigTitle {
  font-family: 'Times New Roman', sans-serif;
  padding-top: 60px;
  padding-bottom: 30px;
}

.subTitle {
  width: 100% auto;
  height: auto; /* Or whatever */
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25px;
}

.leftbutton {
  float: left;
  margin: 5px;
}

.rightbutton {
  float: right;
  margin: 5px;
}

.center-content {
  text-align: center;
}

.quizButton {
  text-align: center;

  background-color: #000;
  color: #FFF;
  border: none;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
  font-family: 'Clarendon',sans-serif;
  font-size: 30px;
  width: 250px;
  padding:10px;
}

.homebutton {
  background-color: #000;
  color: #FFF;
  background-repeat:no-repeat;
  border: none;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: 'Futura','Muli',sans-serif;
  font-size: 20px;
}

.homebutton:hover, .centerButton:hover{
  color: #A5B452;
}

.discreteButton {
  background: none;
  color: #A5B452;
  border: none;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: 'Futura','Muli',sans-serif;
  font-size: 25px;
  width: 150px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.courses-container{
  padding: 10px;
}

.course-box-wrapper{
  display: inline-block;
  float: left;
  margin: 12px;
  margin-top:84px;


}

.course-box{
  background: #384D48;
  font-weight: bold;
  font-size: 24px;
  vertical-align: middle;
  border-radius: 30px;
  color: white;
  border: 3px solid;
  border-color: black;
  margin: 20;
  height: 60px;
  width: 60px;
  padding: 30px;
  box-shadow: 6px 6px 3px rgba(0,0,0,.3);
  user-select: none;
}

.course-box:hover{
  box-shadow: 6px 6px 3px rgba(0,0,0,.6);
}

.course-title-container{
  text-align: center;
  padding-top: 60px;
}

.course-modules-container{
  padding: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.module-preview-box{
  background: white;
  border-top-style: solid;
  border-top-width: 6px;
  border-top-color: #384D48;
  border-radius: 5px;
  width: 40%;
  height: 150px;
  margin: 30px;
  float: left;
  box-shadow: 6px 6px 3px rgba(0,0,0,.3);
  transition: box-shadow .7s;
  position:relative;
}

.module-preview-box:hover{
  box-shadow: 6px 6px 3px rgba(0,0,0,.6);
}

.module-description-text{
  padding: 20px;
  padding-top: 0px;
}

.module-progress-container{
  background: white;
  box-shadow: inset 1px -2px 3px rgba(0, 0, 0, 0.5); 
  margin:0;
  width:100%;
  display:block;
  position:absolute;
  bottom:0;
  height:20px;
  color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.module-progress-bar{
  background:black;
  display: inline-block;
  padding:0;
  margin:0;
  height:20px;
  width:22%;
  border-radius: 5px;
  text-align: center;
}